
:root {
  --base: #2ede87;
  --black: #232927;
  --gray: #ccc;
  --lightGreen: #dbf9de;
  --lightRed: #f9e0da;
}

.App {
  text-align: center;
}


.App-intro {
  font-size: large;
}

.add {
  font-size: 30px;
  background-color: none;
  color: white;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-head {
  font-size: 77px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow:1;
}

.modal-body {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
}

a {
  text-decoration: none;
}
a:visited {
  color: white;
}

.submitButton {
  height: 5rem;
  background: green;
  color:white;
  font-family: 'lato';
  font-weight: bold;
  cursor: pointer;
  font-size:1.3rem;
  letter-spacing: 3px;
}
.submitButton:hover {
  opacity: .9;
}


td {
  text-align: center;
}

.modal-button {
  height: 100%;
  width: 100%;
}

nav > a {
  font-size: 18px;
  padding: 20px;
  letter-spacing: 1.5px;
  font-family: karla;
  border-radius: 20px;
  font-weight: bold;
  background-color: var(--base);
  border: 5px solid var(--base);
  margin-top: 30px;
}
nav > a:hover {
  padding: 20px;
  letter-spacing: 2px;
  font-family: karla;
  border-radius: 20px;
  box-shadow: 0 0 3rem #ccc;
  border: 5px solid var(--base);
  color:black;
}

nav {
  display: flex;
  margin-bottom: 200px;
}

.userLink {
  margin-left: 100px;
  margin-bottom: 200px;
}

.userLink > a {
  margin-top: 0px;
  color: white;
}
.userLink > a:hover {
  color: white;
  box-shadow: 0 0 3rem #ccc;
  color:black;
}
